<!doctype html>
  <head>
    <title>Flasky</title>
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
    <script src="https://unpkg.com/vue"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/test.js')}}"></script>
  </head>
  <div class=page>
    <h1>Flasky</h1>
    <div id="app">
      {% raw %} {{ message }} {% endraw %}
    </div>
    <div class=metanav>
    {% if not session.logged_in %}
      <a href="{{ url_for('login') }}">log in</a>
    {% else %}
      <a href="{{ url_for('logout') }}">log out</a>
    {% endif %}
    </div>
    {% for message in get_flashed_messages() %}
      <div class=flash>{{ message }}</div>
    {% endfor %}
    {% block body %}{% endblock %}
  </div>