<!doctype html>
  <head>
    <title>Flasky</title>
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <script src="https://unpkg.com/vue"></script>
    <script src="https://unpkg.com/vue-router/dist/vue-router.js"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='./bundle.js')}}"></script>
    {% block head %}
    {% endblock %}
  </head>
  <div class="container-fluid">
    <div class="jumbotron">
      <h1 class="main-title">Flasky</h1>
      <div class="circle">
      <svg width="200" height="130"></svg>
      <script src="https://d3js.org/d3.v4.min.js"></script>
      <script>

      var svg = d3.select("svg"),
          width = +svg.attr("width"),
          height = +svg.attr("height"),
          angles = d3.range(0, 2 * Math.PI, Math.PI / 200);

      var path = svg.append("g")
          .attr("transform", "translate(" + width / 2 + "," + height / 2 + ")")
          .attr("fill", "none")
          .attr("stroke-width", 10)
          .attr("stroke-linejoin", "round")
        .selectAll("path")
        .data(["cyan", "magenta", "yellow"])
        .enter().append("path")
          .attr("stroke", function(d) { return d; })
          .style("mix-blend-mode", "darken")
          .datum(function(d, i) {
            return d3.radialLine()
                .curve(d3.curveLinearClosed)
                .angle(function(a) { return a; })
                .radius(function(a) {
                  var t = d3.now() / 1000;
                  return 50 + Math.cos(a * 8 - i * 2 * Math.PI / 3 + t) * Math.pow((1 + Math.cos(a - t)) / 2, 3) * 8;
                });
          });

      d3.timer(function() {
        path.attr("d", function(d) {
          return d(angles);
        });
      });

      </script>
      </div>
    </div>

    <div id="app">

      <ul id="navbar" class="nav nav-tabs">
        <li role='presentation'><router-link to="/" exact>Home</router-link></li>
        <li role='presentation'><router-link to="/vuefun">Vue Fun</router-link></li>
        <li role='presentation'><router-link to="/addentry">Add Entry</router-link></li>
        <li role='presentation'><router-link to="/mapfun">Map</router-link></li>
        <li role='presentation'><router-link to="/beer">Beer</router-link></li>
        <li role='presentation'><router-link to="/matchmaker">Match Maker</router-link></li>
      </ul>
      {% if not session.logged_in %}
        {% if error %}<p class=error><strong>Error:</strong> {{ error }}{% endif %}
         <div class="container">
          <div class="row">
            <div class="col-md-6 col-md-offset-3">
              <div class="panel panel-login">
                <div class="panel-heading">
                  <div class="row">
                    <div class="col-xs-6">
                      <a href="#" v-bind:class="{active: login}" v-on:click="switchLogin()" id="login-form-link">Login</a>
                    </div>
                    <div class="col-xs-6">
                      <a href="#" v-bind:class="{active: register}" v-on:click="switchRegister()" id="register-form-link">Register</a>
                    </div>
                  </div>
                  <hr>
                </div>
                <div class="panel-body">
                  <div class="row">
                    <div class="col-lg-12">
                      <form v-if="login" id="login-form" action="http://phpoll.com/login/process" method="post" role="form" style="display: block;">
                        <div class="form-group">
                          <input type="text" name="username" id="username" tabindex="1" class="form-control" placeholder="Username" value="">
                        </div>
                        <div class="form-group">
                          <input type="password" name="password" id="password" tabindex="2" class="form-control" placeholder="Password">
                        </div>
                        <div class="form-group text-center">
                          <input type="checkbox" tabindex="3" class="" name="remember" id="remember">
                          <label for="remember"> Remember Me</label>
                        </div>
                        <div class="form-group">
                          <div class="row">
                            <div class="col-sm-6 col-sm-offset-3">
                              <input type="submit" name="login-submit" id="login-submit" tabindex="4" class="form-control btn btn-login" value="Log In">
                            </div>
                          </div>
                        </div>
                        <div class="form-group">
                          <div class="row">
                            <div class="col-lg-12">
                              <div class="text-center">
                                <a href="http://phpoll.com/recover" tabindex="5" class="forgot-password">Forgot Password?</a>
                              </div>
                            </div>
                          </div>
                        </div>
                      </form>
                      <form v-if="register" id="register-form" action="http://phpoll.com/register/process" method="post" role="form" style="display: block;">
                        <div class="form-group">
                          <input type="text" name="username" id="username" tabindex="1" class="form-control" placeholder="Username" value="">
                        </div>
                        <div class="form-group">
                          <input type="email" name="email" id="email" tabindex="1" class="form-control" placeholder="Email Address" value="">
                        </div>
                        <div class="form-group">
                          <input type="password" name="password" id="password" tabindex="2" class="form-control" placeholder="Password">
                        </div>
                        <div class="form-group">
                          <input type="password" name="confirm-password" id="confirm-password" tabindex="2" class="form-control" placeholder="Confirm Password">
                        </div>
                        <div class="form-group">
                          <div class="row">
                            <div class="col-sm-6 col-sm-offset-3">
                              <input type="submit" name="register-submit" id="register-submit" tabindex="4" class="form-control btn btn-register" value="Register Now">
                            </div>
                          </div>
                        </div>
                      </form>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      {% endif %}

      <router-view></router-view>
      <!-- <div v-show="mapActive" id="Gmap"></div> -->

      <!-- <div class="container">
        <div class=metanav>
        {% if not session.logged_in %}
          <a href="{{ url_for('login') }}">log in</a>
        {% else %}
          <a href="{{ url_for('logout') }}">log out</a>
        {% endif %}
        </div>
        {% for message in get_flashed_messages() %}
          <div class=flash>{{ message }}</div>
        {% endfor %}
        {% block body %}{% endblock %}
      </div> -->
    </div>
    <!-- <script async defer src="https://maps.googleapis.com/maps/api/js?key={{ googlekey }}&callback=initMap">
    </script>
    <script>
      function initMap() {
        var uluru = {lat: -25.363, lng: 131.044};
        var map = new google.maps.Map(document.getElementById('Gmap'), {
          zoom: 4,
          center: uluru
        });
        var marker = new google.maps.Marker({
          position: uluru,
          map: map
        });
      }
    </script> -->

  </div>