{% extends "layout.html" %}
{% block body %}
  {% if error %}<p class=error><strong>Error:</strong> {{ error }}{% endif %}
  <form class="form-signin" action="{{ url_for('login') }}" method=post>
    <h2 class="form-sigin-heading">Login</h2>
      <dl>
        <dd>
        <label for="username" class="sr-only">Username</label>
        <input id="username" class="form-control" type=text name=username placeholder="Username">
        <dd>
        <label for="password" class="sr-only">password</label>
        <input id="password" class="form-control" type=password name=password placeholder="Password"><br />
        <dd><button class="btn btn-lg btn-primary btn-block" type=submit>Login</button>
      </dl>
  </form>
{% endblock %}