{% extends "layout.html" %}
{% block head %}
  {{ super() }}
  <script type="text/javascript" src="{{ url_for('static', filename='js/app.js')}}"></script>
{% endblock %}
{% block body %}
  {% raw %}
    <div id="app">
      {{ message }} <br />
      <span v-bind:title="message2(10)">
        Hover your mouse over me for a few seconds to see my dynamically bound title!
      </span>
      <p v-if="see">{{ value }}</p>
      <ul class="list-group">
        <li v-for="item of list"
            :key="item"
            class="list-group-item"
            v-bind:class="{ active: isActive == item}"
            v-on:click="activateItem(item)"
        >
          {{ item }}
        </li>
      </ul>
      <p>{{ number }}</p>
      <button v-on:click="addnum">Add One</button>
      <input v-model="value">
      <button v-on:click="seeit">Toggle Value</button>
      <ul class="list-group">
        <test-test v-for="item in food" v-bind:stuff="item" :key="item.id"></test-test>
      </ul>
      <div>
        <router-link to="/">home</router-link>
        <router-link to="/vuefun">vuefun</router-link>
      </div>
      <router-view></router-view>
    </div>
  {% endraw %}
{% endblock %}