{% extends "layout.html" %}
{% block body %}
  {% raw %}
    <div id="app">
      {{ message }} <br />
      <span v-bind:title="message2(10)">
        Hover your mouse over me for a few seconds to see my dynamically bound title!
      </span>
      <p v-if="see">{{ value }}</p>
      <ul class="list-group">
        <li v-for="item of list" class="list-group-item">
          {{ item }}
        </li>
      </ul>
      <p>{{ number }}</p>
      <button v-on:click="addnum">Add One</button>
      <input v-model="value">
      <button v-on:click="seeit">Toggle Value</button>
      <ul class="list-group">
        <test-test v-for="item in food" v-bind:stuff="item"></test-test>
      </ul>
    </div>
  {% endraw %}
{% endblock %}